{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "pluginSearchDirs": ["."],
  "semi": true,
  "bracketSameLine": true,
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
