:root {
  --brd-radius: 1em;
  --primary-color: 85, 143, 239;
  --bg-color: 237, 237, 237;
  --bg-card-color: 255, 255, 255;
  --text-primary: 85, 143, 239;
  --text-secondary: 52, 63, 91;
  --text-nightly: 220, 220, 220;
  --fs-h5: 0.6em;
  --fs-h4: 0.8em;
  --fs-h3: 1em;
  --fs-h2: 1.3em;
  --fs-p: 0.8em;
  --z-index-overlay: 1000;
}

